/* Intro Page */
.hero-intro {
  padding: 0;
  text-align: center;
}

.title {
  margin-top: 25%;
}

.logo {
  width: 3rem;
  height: 3rem;
  margin: auto;
}

.name {
  font-family: var(--ff-prim);
  font-size: var(--fs-h1);
  text-transform: uppercase;
  margin: 0.8rem auto;
}

.hero {
  height: 60dvh;
  overflow: hidden;
  position: relative;
}

.bg-img-wrapper {
  transform: skewY(26deg);
  position: absolute;
  top: -10px;
  bottom: 60px;
  right: 0;
  left: 0;
  overflow: hidden;
}

.bg-img {
  background: url("../assets/imgs/welcome.jpg") right no-repeat;
  position: absolute;
  top: 70px;
  bottom: -70px;
  right: 0;
  left: 0;
  transform: skewY(-9deg);
  background-attachment: fixed;
}

.hero-intro .btn {
  font-size: var(--size16);
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 150px;
  border-radius: var(--size30);
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
